.content {
  width: 700px;
  margin: 30px;
}

.header {
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
}

.paragraph {
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: rgba(35, 49, 76, 0.6);
  margin-bottom: 40px;
}

@media screen and (max-width: 750px) {
  .content{
    width: 300px;
  }
  
  .header {
    font-size: 30px;
  }
  
  .paragraph {
    font-size: 15px;
    margin-bottom: 30px;
  }
}
