.infoContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balanceFrame,
.mainnetFrame {
  background: #f6f7fc;
  box-shadow: 0px 11px 40px rgba(35, 49, 76, 0.1);
  border-radius: 27px;
  width: 300px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.header {
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  text-transform: capitalize;
  color: rgba(35, 49, 76, 0.6);
}

.value {
  font-style: normal;
  font-size: 30px;
}

@media screen and (max-width: 750px){
  .infoContent {
    display: grid;
    justify-content: center;
    grid-gap: 30px;
  }

  .value {
    font-style: normal;
    font-size: 20px;
  }
  
}